/*--

 --*/

  /* --- FONTS include -------------------------------------------------*/

@font-face {
    font-family: 'cabin_condensedregular';
    src: url('/fonts/CabinCondensed-Regular-webfont.eot');
    src: url('/fonts/CabinCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/CabinCondensed-Regular-webfont.woff2') format('woff2'),
         url('/fonts/CabinCondensed-Regular-webfont.woff') format('woff'),
         url('/fonts/CabinCondensed-Regular-webfont.ttf') format('truetype'),
         url('/fonts/CabinCondensed-Regular-webfont.svg#cabin_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
 /* --- ELEMENT reset -------------------------------------------------*/
 .big-circle,
 .color-hexa,
 .detail-color,
 .colors-content,
 .color-row,
 .primary-color-content,
 .color-content,
 .side-info,
 .fonts-content,
 .font-info,
 .style-guide-section,
 .style-guide-content,
 .style-guide-tabs-content,
 .tab,
 .style-guide-section-content,
 .result-answer,
 .result-question,
 .open-question-row,
 .probe-result-question-row,
 .heuristic-evaluation-value,
 .heuristic-evaluation-table-content,
 .heuristic-evaluation-row,
 .brand-img, 
 .system-interface,
 .e-system-table-head,
 .e-system-row,
 .e-system-topic,
 .e-system-obs,
 .e-system-table-content,
 .activity-info-ii,
 .tags-list,
 .detail-project-activities,
 .probe-info-edit-content,
 .edit-btn-question-options, 
 .anwswer-option-content,
 .error-alert,
 .success-alert,
 .all-options-content,
 .probe-general-buttons,
 .show-quiestion-option,
 .btn-add-question-option-edit,
 .btn-add-question-option,
 .question-option,
 .activity-option,
 .probe-options-question, 
 .probe-label,
 .probe-input, 
 .probe-input-i,
 .probe-input-ii,
 .probe-question-content,
 .probe-item-content, 
 .btn-change-status,
 .activity-options,
 .probe-options,
 .checklist-options,
 .checklist-status,
 .checklist-item-content,
 .detail-activity-content,
 .artefacts-content,
 .list-activities-content,
 .activity,
 .each-activity-content,
 .activities-content,
 .activity-description,
 .filters-content,
 .list-content,
 .comment-list,
 .emoticons-container,
 .comment-action,
 .user-avatar,
 .btn-iii,
 .btn-modal-i,
 .btn-modal-ii,
 .comment-content,
 .comment-textarea,
 .comment-text,
 .comments-content,
 .section-artefatcs,
 .login-options,
 .login-title,
 .proagil-logo,
 .btn-mini,
 .btn-content,
 .storm-ideas-item-content,
 .storm-ideas-options,
 .modal-storm-ideas, 
 .wordcloud,
 .form-group-modal,
 .form-content,
 .form-group {
 	width: 100%;
 	height: auto;
 	float: left;
 	overflow: hidden;
 } 

  .form-group-modal {
  	float: inherit;
 	overflow: hidden;
 } 

 a, a:hover {
 	color: #2a3542; 
 }


a, a:hover  {
	outline: none;
	text-decoration: none;
}

body {
    background-color: #ffffff;
	font-family:  'cabin_condensedregular', sans-serif;
}

.cabin {
	font-family: 'cabin_condensedregular', sans-serif;
}

.hidden {
	display: none; 
}

.popover-content .emoticon,
.cur-point {
	cursor: pointer;
}

.popover {
	font-family:  'cabin_condensedregular', sans-serif;
	border-radius: 0px; 
	-webkit-box-shadow: 0 0 0;
	box-shadow: 0px;

}

.form-control:focus{
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
	border-color: #ccc;
}

/*-------------------------------------------
	GENERIC: font sizes
 -------------------------------------------*/
 
.fs-min {
	font-size: 13px; 
}
 
 .fs-med {
	font-size: 16px; 
}
 
.fs-big {
	font-size: 22px; 
}

.fs-xbig {
	font-size: 26px; 
}

.fs-xxbig {
	font-size: 30px; 
}
 
/*-------------------------------------------
	GENERIC: font colors
 -------------------------------------------*/

.fc-grey-i {
	color: #f2f2f2;
}

.fc-grey-ii {
	color: #e3e2e2;
}

.fc-grey-iii {
	color: #e3e2e2;
}

.fc-grey-iv {
	color: #aeb2b7;
}

.fc-grey-v {
	color: #8F8F8F;
}

.fc-blue-i {
	color: #4f5e70;
}

.fc-blue-ii {
	color: #35404d;
}

.fc-blue-iii {
	color: #2a3542;
}

.fc-turquoise {
	color: #41cac0; 
}

.fc-green {
	color: #a8d76f; 
}

.fc-yellow {
	color: #eecb44; 
}
.fc-white {
	color: #ffffff;
}

.fc-pink {
	color: #ef6f66; 
}

.loader {
	width: 100%;
	height: auto;
	top: 18%;
	position: absolute;
	z-index: 9999;
	text-align: center; 

}

/*-------------------------------------------
	GENERIC: text decoration
 -------------------------------------------*/

a.txt-undrln,
a.txt-undrln:hover {
	text-decoration: underline; 
}


.txt-undrln {
	text-decoration: underline; 
}

.f-bold {
	font-weight: bold;
}

.txt-strike {
	text-decoration:line-through;
}

/*-------------------------------------------
	GENERIC: text align
 -------------------------------------------*/
 
.txt-center{
	text-align: center;
}

.txt-right {
	text-align: right;
}

/*-------------------------------------------
	GENERIC: buttons
 -------------------------------------------*/

 .common-btn {
	width: 141px;
	font-weight: bold;
 }

 .common-btn a {
 	color: #FFFFFF;
 }

.common-btn:hover{
	cursor: pointer; 
}

.common-btn-i {
	width: 230px;
	font-weight: bold;
}

.common-btn-i:hover{
	cursor: pointer; 
}

.common-btn-ii {
    width: 160px;
    font-weight: bold;
}

.common-btn-ii:hover{
	cursor: pointer; 
}

.btn-mini {
	width: 60px;
	margin: 3px; 
}

.btn-modal-i{
	padding: 3px 0; 
	display: block; 
	margin: 0 0 0 25%;
}

.btn-modal-ii{
	padding: 3px 0; 
	display: block; 
	margin: 0 0 0 4%;
}

.btn-i{
	padding: 3px 0; 
	display: inline-block; 
	margin: 0 0 0 17%;
}

.btn-ii {
	padding: 3px 0; 
	width: 141px;
	margin: 0 auto;
}

.btn-iii{
	padding: 3px 0; 
	margin: 4px;
}

.btn-pink {
	background-color: #ef6f66; 
	color: #FFFFFF;
}

.btn-pink:hover {
	background-color: #DB675E; 
}

.btn-turquoise {
	background-color: #41cac0; 
	color: #FFFFFF;
}

.btn-turquoise:hover {
	background-color: #42C2B8; 
}

.btn-green {
	background-color: #a8d76f; 
	color: #FFFFFF;
}

.btn-green:hover {
	background-color: #8DB45C; 
}

.btn-green-disable {
	background-color: #CAE0AD; 
	color: #FFFFFF;
}

.btn-green-disable:hover{
	cursor: wait; 
}

.btn-yellow {
	background-color: #eecb44; 
	color: #FFFFFF;
}

.btn-yellow:hover {
	background-color: #D6B63A; 
}

.btn-yellow-disable {
	background-color: #E9DA9F; 
	color: #FFFFFF;
}

.btn-yellow-disable:hover{
	cursor: wait; 
}

.btn-grey {
	background-color: #e3e2e2; 
}

.btn-grey:hover {
	background-color: #e3e2e2; 
}



/*-------------------------------------------
	GENERIC: internal forms
 -------------------------------------------*/

 .proagil-logo {
	margin-left: 15%;
}

 .title-label {
 	text-align: left;
 	width: 20%;
 }

 .btn-save-dashboard {
 	margin-left: 38%; 
 }

.btn-save-invitations {
 	margin-left: 60%; 

 }

/*-------------------------------------------
	LOGIN section
 -------------------------------------------*/
 
.login-logo {
	margin-top: 30%; 
}

.login-title {
	background-color: #f2f2f2;
	padding: 7px;
	margin-bottom: 3%; 
}

.login-panel {
	margin-top: 0; 
	border-radius: 0px;
}

.app-input-invitation {

	margin: 0 4px 0 4px;
	width: 40%;

}

.app-input {
	border-radius: 0px; 
	float: left;
}

.app-input-i {
	width: 98%; 
}
.app-input-modal {
	border-radius: 0px;
	width: 70%; 
}

.probe-input-i,
.app-input:focus {
	border-color: #ccc; 
	box-shadow: none; 
	float: left;
}

.category-input {
	width: 80%; 

}

a.btn-back-i,
a.btn-back,
a.login-link {
	outline: none;
	text-decoration: none;
	color: #aeb2b7;
}

a.btn-back-i:hover,
a.btn-back:hover,
a.login-link:hover  {
	outline: none;
	text-decoration: underline;
}

.error-alert {
	background-color: #ef6f66;
	padding: 3% 1% 3% 3%;
	border-left: 6px solid #ef6f66; 
	margin-bottom: 2%; 
}

.success-alert-dashboard,
.error-alert-dashboard, 
.success-alert {
	background-color: #a8d76f;
	padding: 10px 1px 10px 20px;
	margin-bottom: 2px; 
}

.error-alert-dashboard {
	background-color: #ef6f66;
}

/*-------------------------------------------
	REGISTER section
 -------------------------------------------*/

.file-upload,
.file-upload:hover {
	border-radius: 0px;
	background-color: #a8d76f;
	width: 100%;
	color: #ffffff;
	font-weight: bold;
}

.file-upload-edit {
	margin-top: 2%; 
	margin-bottom: 2%;
}

.file-input-name {
	display: none;
}

/*-------------------------------------------
	TOP section
 -------------------------------------------*/

.top-menu {
	position: fixed; 
	width: 100%;
	height: 51px; 
	background-color: #f2f2f2;
}

.logo-content {
	width: 21%;
}

.project-name-content {
	width: 22%;
	height: auto;
	float: left;
	margin-top: 12px;
}

.user-profile {
	max-height: 28px;
	width: 28px;
	height: 28px; 
}

.user-profile-options {
	border: 0;
	background-color: #f2f2f2; 
	border-radius: 0; 
}

/*-------------------------------------------
	SIDEBAR section
 -------------------------------------------*/

#side-menu {
	background-color: #2a3542;
	width: 20%;
	height: 100%;
	float: left;
	margin: 0;
	position: fixed;
	padding: 1% 1% 1% 1%; 
}

.sidebar-buttons > li > a:focus,
.sidebar-buttons > li > a:hover, 
.sidebar-menu > li > a:focus,
.sidebar-menu > li > a:hover {
	background-color: #4f5e70;
	color: #aeb2b7;
}

.sidebar-buttons li a.active,
.sidebar  li a.active {
	background-color: #4f5e70;
	color: #aeb2b7;
}

.sidebar-buttons  li a:hover,
.sidebar li a:hover {
	background-color: #4f5e70;
	color: #aeb2b7;
}

.sidebar-buttons li{
	margin: 4% 0 0 0;
}

.btn-sidebar {
	background-color: #35404d;
}

.side-info {
	position: absolute;
    bottom: 0;
    left: 0;
    background-color: red; 
}

/*-------------------------------------------
	DASHBOARD section
 -------------------------------------------*/


.list-content {
	width: 100%;

}

.project-item-content {
	width: 100%;
	background-color: #f2f2f2;
	margin: 1% 0 0 0; 
}


/*-------------------------------------------
	PROJECT DETAIL section
 -------------------------------------------*/

 #artefacts-swiper {
  	height: 189px !important; 
}

 #artefacts-swiper .swiper-slide {

 	margin: 2px; 
 	float: left;
 }
 
.section-content,
.activities-content {
	margin: 6% 0 6% 0;
	width: 100%;
}

.section-arrow {
	cursor: pointer; 
}


.section-title {
	background-color: #e3e2e2;
	padding: 5px 0 30px 9px; 
	margin: 1% 0 1% 0; 
	border-left: 5px solid #eecb44;
	height: 19px;
	width: 100%;
 	float: left;
 	overflow: hidden;
}

.section-title-green {
	border-left: 5px solid #a8d76f;

}

.artefacts-list {
	width: 90%;
	height: auto; 
	float: left;
	margin: 0;
}
 
.arrow-left,
.arrow-right {
	padding: 1%; 
	cursor: pointer;
	width: 5%;
	margin: 5% 0 5% 0;
	float: left; 
}

.arrow-left:hover,
.arrow-right:hover {
	color: #aeb2b7; 
}

.artefact {
	width: 100%;
	min-height: 155px;
	max-height: 155px;
	background-color: #f2f2f2; 
	float: left; 
 	overflow: hidden;
}

.artefact:hover {
	background: #e3e2e2; 
	cursor:pointer; 
}

.artefact-icon {
	width: 60%; 
	margin: 0 auto; 
	min-height: 94px;
	max-height: 94px;
	margin-top: 5px; 
}

.artefact-info {
	float: left;
	width: 100%; 
	margin: 10% 0 0 3%; 
	height: auto;
 	overflow: hidden;
}

.artefact-status {
	float: left;
	width: 20%; 
	height: auto; 
	margin: 7% 0 0 0; 
 	overflow: hidden;
}

.artefact-name {
	float: left;
	width: 73%; 
	padding: 4% 0 0 0; 
	height: auto;
 	overflow: hidden;
}

.tags-list{
	list-style: none; 
	padding: 0; 
}

.tags-list-i {
	margin: 2% auto; 
}

.tags-list a {
	cursor: pointer; 
	color: #35404d;
	width: auto;
	height: auto;
	margin: 0 auto;
	padding: 5px 8px;
}

a.tags-list-off {
	background-color: #f2f2f2;
}

a.tags-list-on {
	background-color: #DADADA;
}

a.unmade-off{
	background-color: #f2f2f2;
}

a.in-process-off{
	background-color: #FADC67;
}

a.made-off{
	background-color: #CBE7A8;
}

a.unmade-on{
	background-color: #f2f2f2;
}

.tags-list a.unmade-off:hover{
	background-color: #aeb2b7; 
}

a.in-process-on{
	background-color: #eecb44;
}

.tags-list a.in-process-off:hover{
	background-color: #eecb44; 
}

a.made-on{
	background-color: #a8d76f;
}

.tags-list a.made-off:hover{
	background-color: #a8d76f; 
}

.tags-list a:hover{
	background-color: #e3e2e2; 
}

/*-------------------------------------------
	ACTIVITY section
 -------------------------------------------*/
 
.activity {
	width: 88%;
	background-color: #f2f2f2;
	margin: 1% 0 0 0; 
}

.btn-change-status {
	width: 5%; 
	margin: 1% 0 0 0; 
	padding: 7px 0px; 
	cursor: pointer; 
}

a.btn-reassign {
	color: #8F8F8F;
	text-decoration: underline;
}

a.btn-reassign:hover {
	color: #8F8F8F;
	cursor: pointer; 
}


.activity-info {
	width: auto;
	height: auto;
	padding: 10px 4px;	
}

.list-item {
	padding: 10px 20px;	
}

.activity-info:hover {
	background-color: #e3e2e2;
	cursor: pointer; 
}

.circle {
	float: left; 
	border-radius: 50%;
	width: 30px;
	height: 30px; 
}

.circle a {
	color: #41cac0;
}

.activity-options {
	width: 7%;
	margin: 1% 0 0 0;
	background-color: #f2f2f2;
	padding: 5px 0px; 

}

.activity-option {
	background-color: #E0E0E0; 
	margin: 0 2px 0 2px;
}

.activity-option:hover {
	background-color: #E0E0E0;
	cursor: pointer;	
	
}

.activity-description {
	padding: 10px 4px;	
}

.description-activity-content {
	background-color: #f2f2f2;
	width: 100%;
 	height: auto;
 	float: left;
 	overflow: hidden;
 	padding: 10px; 
 	border-bottom: 2px solid #e3e2e2; 
}

.user-avatar {
	width: 6%; 
}

.comment-text {
	width: 88%; 
}

.comment-action {
	width: 6%; 
	cursor: pointer; 
}

.comment-user-avatar {
	max-height: 35px;
}

.comment-textarea {
	margin-bottom: 1%; 
	margin-top: 1%; 
}

.comment-content {
	padding: 6px;
	background-color: #E0E0E0;
	margin: 3px;  
}

.comment-list {
	padding: 15px; 
}

.emoticons-container .emoticon {
	cursor: pointer;

}

.activity-info-ii {
	color: #8F8F8F;
	padding: 15px; 
}

.center-footer {
	 width: 200px;
	 margin: 0 auto;
}
/*-------------------------------------------
	CHECKLIST section
 -------------------------------------------*/

.checklist-status {
	width: 10%;
	margin: 1% 0 0 0;
	background-color: #f2f2f2;
	padding: 9px 4px 10px;
}

.checklist-status:hover {
	background-color: #e3e2e2;
	cursor: pointer; 
}

.checklist-item-content {
	width: 82%;
	background-color: #f2f2f2;
	margin: 1% 0 0 0; 
	padding: 9px 4px;
}

.checklist-option {
	font-weight: 100;
}

.checklist-options {
	width: 8%;
	margin: 1% 0 0 0;
	background-color: #f2f2f2;
	padding: 4px 4px; 
}

.checklist-verify-content {
	background-color: #f2f2f2;
	margin: 1% 0 0 0; 
}

/*-------------------------------------------
	PROBE section
 -------------------------------------------*/

textarea{
	resize: none;
	width: 100%; 
}

.probe-question-content{
	width: 100%;
	background-color: #f2f2f2;
	margin: 1% 0 0 0; 
	padding: 10px 4px; 
}

.probe-options-question {
	background-color: #f2f2f2;
	border-top: 2px solid #e3e2e2; 
}

.probe-item-content {
	width: 85%;
	background-color: #f2f2f2;
	margin: 1% 0 0 0; 
	padding: 10px 4px; 
}

.probe-item-content:hover {
	background-color: #e3e2e2;
	cursor: pointer; 
}

.probe-options {
	width: 15%;
	margin: 1% 0 0 0;
	background-color: #f2f2f2;
	padding: 5px 4px; 
}

.probe-input-option,
.probe-input{
	width: 25%; 
	border-radius: 0px; 
	float: left;
}

.probe-input-option-edit {
	width: 18%; 
}
.probe-input-ii,
.probe-input-i{
	width: 17%; 
	border-radius: 0px; 
}

.probe-input-ii,
.probe-input-i,
.probe-input-option:focus,
.probe-input:focus {
	border-color: #ccc; 
	box-shadow: none; 
}

.probe-input-ii {
	width: 25%; 
}

.show-quiestion-option{
	width: 25%; 
}

.probe-label {
	width: 12%; 
	padding: 3px;
	margin: 2px 2px 0 2px;
}

.probe-input-status,
.probe-input-name {
	padding: 5px; 
	margin: 4px; 
}

.probe-input-description {
	padding: 4px; 
	margin: 4px; 
	width: 99%;
}

.btn-add-question-option-edit,
.btn-add-question-option,
.question-option {
	padding: 5px;
	margin: 1% auto auto 12%;;
}

.error-input,
.error-probe-input {
	border: 2px solid #DB675E; 
}

.show-probe-container {
	margin: 0 0 0 23%;
}

.show-probe-description {
	margin-bottom: 30px; 

}

.show-probe-panel {
	margin-top: 5%;
	border-radius: 0px; 
}

.probe-option,
.probe-question-title {
	font-weight: 100;
}

.probe-label-value {
	font-weight: 100;
	width: 18%; 
}

.probe-input-edit {
	width: 18%; 
}

.probe-label-description {
	margin: 2px 2px 0 2px; 
	padding: 3px; 
}

.probe-share-modal-content {
	border-radius: 0px;
}

.open-question-row {
	margin-left: 11%; 
}

.question-number{
	background-color: #f2f2f2; 
}

/*-------------------------------------------
	EXISTING SYSTEM section
 -------------------------------------------*/

.file-upload-e-system,
.file-upload-e-system:hover {
	width: 20%; 
	cursor: pointer; 
}

.esystem-textarea {
	width: 38%;
}

.e-system-table-head,
.e-system-table-content {
	background-color: #f2f2f2; 
}

.e-system-row {
	border-bottom: 10px solid #ffffff; 
}

.e-system-topic {
	width: 30%;
	padding: 2%; 
}

.e-system-obs {
	width: 70%;
	padding: 2%; 
	border-left: 10px solid #ffffff; 
}

.row-head {
	background-color: #e3e2e2; 
}

.e-system-table-head {
	padding: 2%; 
	border-bottom: 10px solid #ffffff; 
}

.esystem-label-value {
	font-weight: 100;
	width: 50%; 
}

.interface-preview {
	background-color: #f2f2f2; 
}

.probe-info-edit-content {

	background-color: #f2f2f2; 

}

/*-------------------------------------------
	STORM IDEAS	section
 -------------------------------------------*/

.storm-ideas-item-content {
	width: 100%;
	background-color: #f2f2f2;
	margin: 1% 0 0 0; 
	padding: 9px 4px;
}

.storm-ideas-item-content:hover {
	background-color: #e3e2e2;
}

.storm-ideas-options {
	width: 8%;
	margin: 1% 0 0 0;
	background-color: #f2f2f2;
	padding: 4px 4px; 
}

.storm-ideas{
	border: 2px solid #41cac0;
	height: 4in;
	width: 7in;
	margin: 0.6in auto;
}


.btn-download-storm-ideas{
	margin-left: 3%;
}

.btn-storm-ideas-edit{
	margin-left: 50%;
}

/*-------------------------------------------
	HEURISTIC EVALUATION section
 -------------------------------------------*/

 .evaluation-textarea {
	width: 38%;
	margin: 5px;
}

.evaluation-title {
	width: 38%; 
}

.evaluation-label-value {
	width: 34%; 
}

 .heuristic-evaluation-head {
	padding: 2%; 
	border-bottom: 5px solid #ffffff; 
	border-left: 5px solid #ffffff; 
}

 .heuristic-evaluation-row{

 	min-height: 50px; 
 	background-color: #f2f2f2; 
 	border-bottom: 5px solid #ffffff; 

 }

 .heuristic-evaluation-value {
 	width: 25%; 
 	 	padding: 2%;

 }

 /*-------------------------------------------
	STYLE GUIDE section
 -------------------------------------------*/

 .tab {
 	width: 15%; 
 	padding: 2% 0; 
 	margin: 0; 
 	cursor: pointer; 

 }

 .tab-on {
 	background-color: #e3e2e2;
 	border-top: 4px solid #a8d76f; 
 }

 .tab-off {
 	background-color: #f2f2f2;
 }

 .style-guide-section{
 	background-color: #e3e2e2;
 }

 .style-guide-form-group{
 	padding: 1%; 
 }

.color-picker {
	border-right:36px solid #42C2B8;
	cursor: pointer;
	margin: 2%;
	width: 60%; 
}

.color-bg-style-guide {
	float: left; 
	width: 70px;
	height: 70px; 
	margin: 2px;
}

.colors-content{
	width: 70%;
	padding: 2%; 
	border-left: 10px solid #ffffff; 
}

.detail-color {
	width: 12%; 
}

.color-hexa {
	margin: 10px;
}
